{% include './head.html' %}
            <form>
                <p>域名</p>
                <select class="mdui-select" id="domain"></select>

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">长网址</label>
                    <input class="mdui-textfield-input" id="longUrl" required/>
                </div>
                
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">特征码</label>
                    <input class="mdui-textfield-input" id="signature"/>
                    <div class="mdui-textfield-helper">如需自定义请填写(仅能填1~5位的数字和字母,不能为api,index,query)</div>
                </div>
                
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">有效期</label>
                    <input class="mdui-textfield-input" type="number" value="0" id="validDay" required/>
                    <div class="mdui-textfield-helper">单位天,仅能填0~365,0代表永久,默认为0</div>
                </div>
                
                <br/>
                
                <div class="mdui-row-xs-2">
                    <div class="mdui-col">
                        <button class="mdui-btn mdui-btn-raised mdui-btn-block" type="reset" id="reset">重置</button>
                    </div>

                    <div class="mdui-col">
                        <button class="mdui-btn mdui-btn-raised mdui-btn-block" onclick="return submitEvent()">生成</button>
                    </div>
                </div>
            <form>
            
            <script type="text/javascript">
                $(document).ready(async () => {
                    let domains = (await request('get', './api/get_domain')).data.data;
                    let domainElement = new mdui.Select('#domain');
                    for (let domainsCount = 0; domainsCount < domains.length; domainsCount++) {
                        $('#domain').append('<option>' + domains[domainsCount] + '</option>');
                    }
                    domainElement.handleUpdate();
                });

                function submitEvent() {
                    let domain = $('#domain option:selected').text();;
                    let longUrl = $('#longUrl').val();
                    let signature = $('#signature').val();
                    let validDay = $('#validDay').val();
                    if (!domain || !longUrl) {
                        mdui.alert('参数不能为空');
                        return false;
                    }

                    request('post', './api/generate', {
                        'domain': domain,
                        'longUrl': longUrl,
                        'signature': signature,
                        'validDay': Number(validDay)
                    }).then((response) => {
                        mdui.dialog({
                            content: `短链接:${response.data.data}`,
                            buttons: [
                                {
                                    text: '复制',
                                    onClick: (dialog) => {
                                        copyText(response.data.data);
                                        mdui.snackbar({message: '复制成功'});
                                    }
                                },
                                {
                                    text: '确认',
                                }
                            ],
                            onClose: () => {
                                $('#reset').click();
                            }
                        });
                    });
                    return false;
                }
            </script>
{% include './foot.html' %}